.content {
    position: relative;
    background-color: wheat;
    border-left: 85px solid #faa0d1;
    border-right: 100px solid #faa0d1;
}

/* Style the links inside the navigation bar */
.content a {
    flex-direction: column;
    display: flex;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.content a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.content a.active {
    background-color: wheat;
    color: white;
}

